# Dependencies
node_modules/

# Environment variables
.env
.env.test

docs/

tests/


# Prisma generated client
prisma/prisma-client-js/

# OS files
.DS_Store

# Logs
*.log
npm-debug.log*

# Build output
dist/